
.article_show
  = render @article
  .comments
    -if @comments.count == 0
      Brak komentarzy
    -else
      Komentarze:
      - @comments.each do |c|
        .comment
          =c.user.email 
          \: 
          = c.content
          %br
  %br
  = form_for @comment do |f|
    = f.label 'Skomentuj'
    = f.text_area(:content, size: '90x10' )
    %br
    = f.hidden_field :article_id, :value=>@article.id
    = f.submit