
.article_show
  = render @article
  #comments
    -if @comments.count == 0
      No comments
    -else
      Comments:
      = render @comments
        
  %br
  -if user_signed_in?
    = form_for( @comment, class: 'form-horizontal', remote: true) do |f|
      .form-group
        = f.label 'Leave a comment:', class: 'col-sm-2 control-label'
        .col-sm-10
          = f.text_area(:content, class: 'form-control', rows: '3' )
      = f.hidden_field :article_id, :value=>@article.id
      .form-group
        .col-sm-offset-2.col-sm-10
          = f.submit 'Submit', :class=>'btn btn-primary'
  -else
    Log in to comment