!!!
%html
  %head
    %link{href: "//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", rel: "stylesheet"}/
    %title Blog
    =stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
    =javascript_include_tag 'application', 'data-turbolinks-track' => true 
    =csrf_meta_tags 
  %body
    .menu
      = link_to 'Strona glowna', articles_path  
      | 
      = link_to 'Dodaj post', new_article_path  
      |
      - if current_user 
        = current_user.email  
        |
        = link_to 'Wyloguj', destroy_user_session_path,method: :delete 
      - else 
        = link_to 'Rejestracja', new_user_registration_path  
        |
        = link_to 'Zaloguj', new_user_session_path 
    #flash
      -if notice 
        .notice.flash= notice 
      -elsif alert 
        .alert.flash= alert
    .container
      =yield
    