!!!
%html
  %head
    %link{href: "//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", rel: "stylesheet"}/
    %title Blog
    =stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true 
    =javascript_include_tag 'application', 'data-turbolinks-track' => true 
    =csrf_meta_tags 
  %body
    .menu
      #logo
        %h2=link_to 'Reynevan-blog', articles_path
      = link_to 'Main', articles_path
      -if user_signed_in? 
        | 
        = link_to 'Add a post', new_article_path  
      |
      - if current_user 
        = current_user.email  
        |
        = link_to 'Logout', destroy_user_session_path,method: :delete 
      - else 
        = link_to 'Sign up', new_user_registration_path  
        |
        = link_to 'Sign in', new_user_session_path 
    = render 'layouts/partials/flash'
    .container
      .row
        .col-md-10.col-md-offset-1
          #info
          =yield
    